<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Employées</title>
</head>
<body>
   <h1>Ajouter Employées</h1>
      <form action="/add" method="post">

         <table>
             
            <tr>
                <td>id carte: </td>
                <td>
                    <input type="text" placeholder="Enter Name" name="idcart"  value="<%- user.nom %>" required> </td>
            </tr>
     
             <tr>
                 <td>Name : </td>
                 <td>
                     <input type="text" placeholder="Enter Name" name="nom" required> </td>
             </tr>
             <tr>
                 <td> Email :</td>
                 <td>
                     <input type="text" placeholder="Enter Email" name="prenom" required>
                 </td>
             </tr>
             <tr>
                <td>Name : </td>
                <td>
                    <input type="text" placeholder="Enter Name" name="email" required> </td>
            </tr>
             <tr>
                 <td>Mobile :</td>
                 <td>
                     <input type="text" placeholder="Enter Mobile" name="adresse"  required>
                 </td>
             </tr>
             <tr>
               <td>Mobile :</td>
               <td>
                   <input type="text" placeholder="Enter Mobile" name="telephone"  required>
               </td>
           </tr>
     
             <tr>
     
                 <td>
                     <input type="submit">
                       <input type="button" value="Display" >
                 </td>
             </tr>
         </table>
     
     
     
     
     
     </form>
</body>
</html>