<%- include('parts/header'); -%> 
<div id="layoutSidenav_content">
    <main>
     <div class="container-fluid">
        <div class="col-md-13">
         
            <div class="col-lg-12">

                <h4 class="mt-4">Création d'utilisateur</h>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">************************ description de cette interface*****************</li>
                </ol>
                <% if (typeof message != 'undefined' && message) { %>
                    <div class="alert alert-success"><%- message %></div>
                    <% } else if(typeof errorMsg  != 'undefined' && errorMsg ) { %>
                            <div class="alert alert-danger"><%- errorMsg  %></div>
                            <% } %>
              <div class="card-header"><h3 class="text-center font-weight-light ">Register Now</h3></div>
             
              <form action="/regis" method="post">

              
                   
                  
                
               
                
                <div class="form-group">
                    <form action="/regis" method="post">
                        <input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
                        <input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
                        <input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
                        <input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
                        <input type="submit" value="Register" class="btn btn-success">
                    </form>
                
                
                
                
            </div>
            </form>
       </div> 

       
          
                                  
               
      
       
        <%- include('parts/footer'); -%> 